<div class="page">
  <div class="main-bar">

    <div id="questions-index-header">
      <div id="index-title">Questions</div>
      <% if user_signed_in? %>
        <div id="ask-a-question-div">
          <%= button_to 'Ask a question', new_question_path, method: 'get' %>
        </div>
      <% end %>
    </div>

    <div id="question-list">
    </div>
  </div>
  <div class="advertisement">
      <p>once this blows up, i'll charge chegg like $0.005 per ad and I'll be rich</p>
  </div>
</div>
