<h1>Questions</h1>

<div id="orderedQuestionList">
  <% @questions.each do |question| %>
    <div> <%= link_to question.title, question %> </div>
  <% end %>
</div>

<div class="">
  <%= link_to 'Ask a question', new_question_path %>
</div>
