a:link, a:visited {
  text-decoration: none;
  color: green;
}

body {
  font-family: Arial;
  font-size: 13px;
  overflow-wrap: normal;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  z-index: 10;
  background: white;
  width: 100%;
  border-bottoms: solid grey 1px;
}

.nav-bar-spacer {
  height: 40px;
}

.index-page {
  margin: 30px;
}

.question-content-box {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  display: flex;
}

#answers {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-color: grey;
  display: flex;
  flex-direction: column;
}

#question-title {
  padding: 10px;
  margin: 10px;
}

#question {
  white-space: pre-wrap;
  flex-flow: row wrap;
}

#questions-index-header div {
  display: inline-block;
}

#ask-a-question-div {
  float: right;
  margin: 0;
  padding: 0;
}

.question-title {
  font-size: 30px;
  font-family: Georgia;
}

.question-details {
  display: flex;
  border: solid red 3px;
  width: 600px;
  height: auto;
}

.question-votes {
  border: solid blue 3px;
  width: 90px;
  height: 100px;
  text-align: center;
}

.question-description {
  display: flex;
  border: solid green 3px;
  /*width: 100px;*/
}

.question-stats {
  border: solid yellow 3px;
  right: 15px;
  position: absolute;
  bottom: 5px;
}

.question {
  border: solid black 3px;
  width: 510px;
  position: relative;
}

.question-asker {

}

.question-timing {

}
