a:link, a:visited {
  text-decoration: none;
  color: green;
}

body {
  font-family: Arial;
  font-size: 13px;
  overflow-wrap: normal;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  z-index: 10;
  background: white;
  width: 100%;
  border-top: solid grey 3px;
}

.nav-bar-spacer {
  height: 40px;
}

#question-show-page {
  margin: 0 auto;
  width: 800px;
  padding: 15px;
}

.question-stuff {
  width: 550px;
  margin: 0;
  padding: 0;
  float: left;
}

.advertisement {
  float: right;
  width: 200px;
}

.index-page {
  margin: 30px;
}

.question-content-box {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: grey;
  padding: 5px;
  display: flex;
}

#answers {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-color: grey;
  display: flex;
  flex-direction: column;
}

#question-title {
  padding: 10px;
  margin: 10px;
}

#question {
  white-space: pre-wrap;
  flex-flow: row wrap;
}

#questions-index-header div {
  display: inline-block;
}

#ask-a-question-div {
  float: right;
  margin: 0;
  padding: 0;
}

.question-title {
  font-size: 22px;
  font-family: Georgia;
}

.question-details, .answer-details {
  border: solid black 3px;
  width: 100%;
  padding-left: 2px; padding-right: 2px; margin-left: 2px; margin-right: 2px;
  position: relative;
}

.question-votes, .answer-votes {
  border: solid blue 3px;
  width: 90px;
  height: 100px;
  text-align: center;
}

.question-description, .answer-description {
  display: flex;
  border: solid green 3px;
  /*width: 100px;*/
}

.question-stats, .answer-stats {
  border: solid yellow 3px;
  right: 15px;
  position: absolute;
  bottom: 5px;
}

.answer-stats {
  font-size: 11px;
}

.question {
  display: flex;
  border: solid red 3px;
  width: auto;
  height: auto;
}

.answer {
  display: flex;
  margin-bottom: 10px;
  border: solid red 3px;
  border-bottom: solid grey 2px;
  width: 100%;
  height: auto;
}

.answers{
  /*display: flex;*/
  margin-top: 20px;
  border: solid maroon 3px;
  width: auto;
}

.no-answers {

}

.question-asker {

}

.question-timing {

}
