a:link, a:visited {
  text-decoration: none;
  color: green;
}

body {
  font-family: Arial;
  font-size: 16px;
  overflow-wrap: normal;
}

#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  z-index: 10;
  background: #848782;
  width: 100%;
  display: flex;
  font-size: 13px;
}

.site-name {
  font-size: 30px;
  margin: 0px;
}

.title-area {
  margin: auto;
  display: flex;
  align-items: center;
}

.search-bar {
  margin: 0px;
}

.login-options {
  display: flex
}

.nav-bar-spacer {
  height: 55px;
}

.question-index-page, .question-show-page {
  width: 930px;
  padding: 15px 0px;
  margin: 0 auto;
  display: flex;
}

.main-bar {
  width: 715px;
  padding-right: 15px;
}

#questions-index-header div {
  display: inline-block;
}

#questions-index-header {
  font-size: 18;
  width: 715px;
}

#ask-a-question-div {
  float: right;
}

.question-list {
  width: 715px;
}

.question-content-box {
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: grey;
  display: flex;
  overflow: hidden;
}

.stats-container {
  width: 212px;
  display: flex;
}

.question-stats-box {
  width: 60px;
  height: 36px;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-color: grey;
  flex-direction: column;
}

#question-title {
  padding: 10px;
  margin: 10px;
  width: 472px;;
}

.advertisement {
  float: right;
  width: 185px;
  padding-left: 15px;
}

.question-title {
  font-size: 24px;
  border-bottom: solid lightgrey 2px;
}

.question-votes, .answer-votes {
  width: 90px;
  height: 100px;
  text-align: center;
}

.question-details, .answer-details {
  width: 100%;
  position: relative;
}

.question-description, .answer-description {
  display: flex;
}

.question-stats, .answer-stats {
  background-color: lightgrey;
  right: 15px;
  position: absolute;
  bottom: 5px;
}

.answers{
  margin-top: 20px;
  width: 100%;
}

.answer, .question {
  padding: 10px 0px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: solid lightgrey 2px;
}

.no-answers {

}
